################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspMVCCoreGit/.vs/AspMVCCoreGit
/AspMVCCoreGit/obj
/AspMVCCoreGit/wwwroot/lib
