
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - AspMVCCoreGit - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <br />
        <custom-email my-email="hanzlaabbas88@gmail.com"></custom-email>
    </div>
</footer>