<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspMVCCoreGit</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <environment include="Development">
        @* we can add  <environment include="Developement"> if we want to work on Developement environment and there we cannot add "min" files *@
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        @* we can add  <environment exclude="Developement"> if we want not work on Developement environment and there we can add "min" files*@
        @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
        @* ***********Link Tag Helper is Used for if CDN is not work then its get link from localPath Code Start************@
 @*        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" 
        asp-fallback-test-class="sr-only"
        asp-fallback-test-property="position"
        asp-fallback-test-value="absolute"
        integrity=""
              crossorigin="anonymous"> *@
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        @* ***********Link Tag Helper is Used for if CDN is not work then its get link from localPath Code End************@
    </environment>

    <link rel="icon" type="image/x-icon" href="@Url.Content($"{ViewData["Icon"]}")">

    @* <link rel="stylesheet" href="~/AspMVCCoreGit.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <partial name="_header" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_footer"/>
    <environment include="Development">
        @* we can add  <environment include="Developement"> if we want to work on Developement environment and there we cannot add "min" files *@
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        @* we can add  <environment exclude="Developement"> if we want not work on Developement environment and there we can add "min" files*@
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        
    </environment>
   
    @await RenderSectionAsync("Scripts", required: false)
   @*  @await RenderSectionAsync("Carousel", required: false) *@
</body>
</html>
