@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager 
@if(_signInManager.IsSignedIn(User))
{

    <a class="nav-link dropdown-toggle text-dark" asp-action="Logout" asp-controller="Account" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       @* @User.Identity?.Name *@ @* this is for get email *@
        @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
    </div>
   

}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>@* using this helper method asp-route-returnUrl="@Context.Request.Path" we can get selected webpage path *@
        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Signup">Register</a>
    </li>
}

