@model EmailConfirmModel
@{
    ViewData["Title"] = "ConfirmEmail";
}
<h1>ConfirmEmail</h1>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            @* @if (ViewBag.IsSuccess == true) *@
            @if (Model.EmailVerified == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Your email has been verified successfully.</p>
                </div>
            }
            else
            {
                @if(Model.EmailSent)
                {
                    <p>Email sent on your registered email id.</p>
                }
                else
                {
                    <p>We have  sent Email on your email id.Click on the link to login.</p>
                    
                }
                <form asp-action="confirm-email">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p>Did not get any email of deleted by mistake?</p>
                    <input type="hidden" asp-for="Email" />
                    <div class="form-group">
                        <input type="submit" value="Resend Confirmation Email" class="btn btn-primary" />
                    </div>
                </form>
            }
            
        </div>
    </div>
</div>
