 @model AspMVCCoreGit.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "FogotPassword";
}


<hr />
<div class="row">
    <div class="col-md-4">
        @if(Model?.EmailSent == true)
        {
            <div class="alert alert-success" role="alert">
                <p>If you register with us then,We have sent email on your registered email id.</p>
            </div>
        }
        else
        {
            <p>Forgot Your Password? No worries you can reset it easily.</p>
            <form asp-action="FogotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
              @*   <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="EmailSent" /> @Html.DisplayNameFor(model => model.EmailSent)
                    </label>
                </div> *@
                <div class="form-group">
                    <input type="submit" value="Rest Password" class="btn btn-primary" />
                </div>
            </form>
        }
    
    </div>
</div>

<div>
    <br />
    <a asp-action="Login" asp-controller="Account">Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
