@using AspMVCCoreGit.Repository
@inject IBookRepository _bookrepository
@{
    //ViewData["Title"] = "Home Page";
    ViewData["Icon"] = "~/favicon1.ico";
}

<div class="text-center">
   @*  <img src="~/images/pic1.png" class="pic" alt="pic"/>
    <img src="~/MyStaticFile/Images/pic2.png" class="pic" alt="pic2" /> *@
    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    @* asp-route-id=""  *****************if you want to pass single parameter then we can pass using this attribute asp-route-id=""***************** *@
    @*  asp-all-route-data=""  *****************if you want to pass Multiple parameter then we can pass using this attribute asp-all-route-data=""***************** *@
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach (var item in await _bookrepository.GetAllBooks())
{
    <h2>@item.Title</h2>
}

<div class="container">
    <h3 class="display-4">Top  Books</h3>
    @* Component is call Coding start *@
    @*    @await Component.InvokeAsync("TopBooks", new{count=3}) *@ @* 1 way to call Component *@
    <vc:top-books count="3"></vc:top-books> @* 2 way to call Component *@
    @* Component is call Coding End *@


  @*  <div class="row">
        <div class="col-sm-4 p-0 pt-0 pb-4 pr-4">
            <partial name="_bookThumbnail" model="new BookModel()"/>
            @Html.Partial("_bookThumbnail", new BookModel())
        </div>
        <div class="col-sm-4 p-0 pt-0 pb-4 pr-4">
            <partial name="_bookThumbnail" model="new BookModel()" />
            @await Html.PartialAsync("_bookThumbnail", new BookModel())
        </div>
        <div class="col-sm-4 p-0 pt-0 pb-4 pr-4">
            <partial name="_bookThumbnail" model="new BookModel()"  />
            @{
                Html.RenderPartial("_bookThumbnail", new BookModel());
            }
        </div>
        <div class="col-sm-4 p-0 pt-0 pb-4 pr-4">
            <partial name="_bookThumbnail" model="new BookModel()" />
            @{
              await  Html.RenderPartialAsync("_bookThumbnail", new BookModel());
            }
        </div>
    </div>  *@
</div>
