@{
    //ViewData["Title"] = "Home Page";
    ViewData["Icon"] = "~/favicon1.ico";
}

<div class="text-center">
    <img src="~/images/pic1.png" class="pic" alt="pic"/>
    <img src="~/MyStaticFile/Images/pic2.png" class="pic" alt="pic2" />

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
