@model IEnumerable<BookModel>
<div class="row">
    @foreach(var book in Model)
    {
        <div class="col-sm-4 p-0 pt-0 pb-4 pr-4">
            <partial name="_bookThumbnail" model="@book" />
        </div>
    }
    
    
</div> 