@using AspMVCCoreGit.Enums
@model BookModel
@{
    ViewData["Title"] = "Add New Book";
}
@if (ViewBag.IsSucces == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations!</strong> You should Added new book successfully.
        Click @* <a asp-controller="book" asp-action="GetBook" asp-route-id="@Model.Id" >here</a> *@ to view the details.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="d-flex justify-content-center" >
    <div class="spinner-border" role="status" id="myLoader" style="display:none">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<form method="post" asp-controller="Book" asp-action="AddNewBook" data-ajax="true" data-ajax-complete="myComplete" data-ajax-success="mySuccess" data-ajax-failure="myFailure" data-ajax-loading="#myLoader">
    <div asp-validation-summary="All" class="text-danger"></div>
    <br />
    <h1 class="display-4">Add New Book</h1>
 @*    <div class="form-group">
        <label asp-for="MyField"></label>
        <input asp-for="MyField" class="form-control" />
        <span asp-validation-for="MyField" class="text-danger"></span>
    </div> *@
    @* *********************This is Static DropDownList is code Start********************* *@
    @*    <div class="form-group">
    <label asp-for="Language"></label>
        <select asp-for="Language" class="form-control" required>
            <option value=""> Please Choose Any Language</option>
            <option value="English"> English (This is Globle Language)</option>
            <option value="Urdu">Urdu (This is Native Language)</option>
            <option selected value="Punjabi">Punjabi (This is best Language)</option>

        </select>
    <span asp-validation-for="Language" class="text-danger"></span>
    </div> *@
    @* *********************This is Static DropDownList code is End********************* *@
    @* *********************This is  DropDownList using SelectList code is Start********************* *@
   @*  <div class="form-group">
        <label asp-for="Language"></label>
        <select asp-for="Language" class="form-control" asp-items="ViewBag.Language">
            <option value="">Please Choose Laguage</option>
        </select>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div> *@
    @* *********************This is  DropDownList using SelectList code is End********************* *@
    @* *********************This is  DropDownList using SelectListItem code is Start********************* *@
    @* <div class="form-group">
        <label asp-for="Language"></label>
        <select asp-for="Language" class="form-control" asp-items="ViewBag.Language1">
            <option value="">Please Choose Laguage</option>
        </select>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div> *@
    @* *********************This is  DropDownList using SelectListItem code is End********************* *@
    @* *********************This is  DropDownList using SelectListItem disabled and Selected code is Start********************* *@
  @*   <div class="form-group">
        <label asp-for="Language"></label>
        <select asp-for="Language" class="form-control" asp-items="ViewBag.Language2">
            <option value="">Please Choose Laguage</option>
        </select>
        <span asp-validation-for="Language" class="text-danger"></span>
    </div> *@
    @* *********************This is  DropDownList using SelectListItem disabled and Selected code is End********************* *@
    @* *********************This is  Multiple Select DropDownList using SelectListItem code is Start********************* *@
@*     <div class="form-group">
        <label asp-for="MultipleLanguage"></label>
        <select asp-for="MultipleLanguage" class="form-control" asp-items="ViewBag.Language3" multiple>
            <option value="">Please Choose Laguage</option>
        </select>
        <span asp-validation-for="MultipleLanguage" class="text-danger"></span>
    </div> *@
    @* *********************This is  Multiple Select DropDownList using SelectListItem code is End********************* *@
    @* *********************This is  Enum DropDownList using SelectListItem code is Start********************* *@
 @*    <div class="form-group">
        <label asp-for="LanguageEnum"></label>
        <select asp-for="LanguageEnum" class="form-control" asp-items="Html.GetEnumSelectList<LanguageEnum>()" >
            <option value="">Please Choose Laguage</option>
        </select>
        <span asp-validation-for="LanguageEnum" class="text-danger"></span>
    </div> *@
    @* *********************This is  Enum DropDownList using SelectListItem code is End********************* *@
    @* *********************This is   DropDownList get data from database using SelectListItem code is Start********************* *@
@*     <div class="form-group">
        <label asp-for="LanguageId"></label>
        <select asp-for="LanguageId" class="form-control" asp-items="Html.GetEnumSelectList<LanguageEnum>()">
            <option value="">Please Choose Laguage</option>
        </select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div> *@
    @* *********************This is  Enum DropDownList get data from database using SelectListItem code is End********************* *@
    @* **********************This is   DropDownList using get data from database  code is Start * ********************* *@
    <div class="form-group">
        <label asp-for="LanguageId"></label>
        <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Language4">
            <option value="">Please Choose Laguage</option>
        </select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div>
    @* **********************This is   DropDownList using get data from database  code is Start * ********************* *@
    <div class="form-group">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Description"></label>
         <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalPages" ></label>
        <input asp-for="TotalPages" class="form-control" />
        <span asp-validation-for="TotalPages" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Add Book" class="btn btn-primary"/>
    </div>
</form>
@section scripts{
    <script>
        function myComplete(data) { 
            alert("This is Complete Funcation.");
            console.log(data);
        }
        function mySuccess(data) {
            alert("This is Success Funcation.");
            console.log(data);
        }
        function myFailure(data) {
            alert("This is Failure Funcation.");
            console.log(data);
        }
    </script>
}